<h1>Create Heroine:</h1>

<%= form_for(@heroine) do |f| %>
  <%= f.label :name, 'Name'%><br>
  <%= f.text_field :name%><br>
  <%= f.label :name, 'Super name'%><br>
  <%= f.text_field :super_name%><br>
  <%= f.collection_select :power_id, Power.all, :id, :name, :prompt => "Please select"%>
  <%= f.submit %>
<% end %>
